<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Aggregator" connectionString="Data Source=DESKTOP-OHMM07N\SQLEXPRESS;Initial Catalog=Aggregator;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Krypton.Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-80.23.11.321" newVersion="80.23.11.321" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>